.fera-app-header {
    text-align: center;

    .header-image {
        display: inline-block;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 1.25rem;

        .background-image {
            width: 364px;
        }

        .app-icon-container {
            height: 94px;
            width: 94px;
            position: absolute;
            right: 26px;
            top: 22px;
            border-radius: 100%;
            padding: 12px;

            .app-icon {
                display: block;
                width: 100%;
                height: auto;
                border-radius: 100%;
            }
        }
    }
}
